<div class="container mx-auto mt-5">
    <h2 class="text-2xl font-semibold mb-4">Published Posts</h2>
  
    <!-- Post List -->
    <div class="">
        @for(post of posts; track post.id){
            <div class="post-card p-4 mb-4 border rounded-md shadow-sm">
              <h3 class="text-xl font-bold">{{ post.title }}</h3>
              <p class="text-sm text-gray-600">By {{ post.author }} | {{ post.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
              <p class="mt-2">{{ post.content }}</p>
              <button
              class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded"
              (click)="editPost(post.id)">
              Edit
            </button>
            </div>
            }
        
    </div>
  
    <!-- No posts found message -->
    <div class="text-center text-lg text-gray-600">
        @if(posts.length === 0) {
            <p>No posts found</p>
        }

    </div>
  </div>
  