<div class="container mx-auto mt-5">
    <h2 class="text-2xl font-semibold mb-4">My posts</h2>

    <!-- Post List -->
    <div class="">
        @for(post of posts; track post.id){
            <div class="post-card p-4 mb-4 border rounded-md shadow-sm">
              <h3 class="text-xl font-bold">{{ post.title }}</h3>
              <p class="text-sm text-gray-600">By {{ post.author }} | {{ post.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</p>
              <p class="mt-2">{{ post.content }}</p>
              
              <!-- Status with Color-Coding -->
              <p class="mt-2 py-1 px-3 inline-block rounded text-white"
                 [ngClass]="{
                     'bg-green-500': post.reviewStatus === 'APPROVED',
                     'bg-yellow-500': post.reviewStatus === 'PENDING',
                     'bg-red-500': post.reviewStatus === 'REJECTED',
                     'bg-gray-500': post.reviewStatus === null
                 }">
                 Status: {{ post.reviewStatus || 'No Status' }}
              </p>
              <div *ngIf="post.comment != null">
                <h2>Reviewers comment</h2>
                <p class="mt-2">{{ post.comment }}</p>
              </div>

              <!-- Conditionally Render Edit Button -->
              @if(post.reviewStatus === 'REJECTED' || post.reviewStatus === null) {
                  <button
                      class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded mt-3"
                      (click)="editPost(post.id)">
                      Edit
                  </button>
              }
            </div>
        }
    </div>

    <!-- No posts found message -->
    <div class="text-center text-lg text-gray-600">
        @if(posts.length === 0) {
            <p>No posts found</p>
        }
    </div>
</div>
