<h2 class="">add post</h2>

<form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)" class="post-form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput
               name="title"
               [(ngModel)]="model.title"
               #title="ngModel"
               required
               placeholder="Enter your post title">
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          <span *ngIf="title.errors?.['required']">Title is required</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput
                  name="content"
                  [(ngModel)]="model.content"
                  #content="ngModel"
                  required
                  placeholder="Enter the content of this post"></textarea>
        <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">
          <span *ngIf="content.errors?.['required']">Content is required</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox 
        name="conceptCheckbox"
        [(ngModel)]="model.conceptCheckbox"
        #concept="ngModel">
        Post as Concept
      </mat-checkbox>
    </div>

    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!postForm.form.valid">
      Add Post
    </button>
  </form>